<div>
    <div id="nav">
        <router-link to="/home">Home |</router-link>
        <router-link to="/about" v-if="isLoggeOn">About |</router-link>
        <router-link to="/doctors" v-if="isLoggeOn">Display All Doctors |</router-link>
        <router-link to="/doctorInsert" v-if="isLoggeOn">Create a new Doctor |</router-link>
        <router-link to="/testItems" v-if="isLoggeOn">Test Items |</router-link>
        <router-link to="/injectProvide" v-if="isLoggeOn">Inject Provide Example |</router-link>
        <router-link to="/logon" v-if="!isLoggeOn">Logon Page</router-link>
        <router-link to="/logout" v-if="isLoggeOn">Log Out</router-link>
        {{ userNewName}}
    </div>
    <router-view/>
   
</div>