
<div>

<ul id="">
    <li v-for="item in students" :key="item.fullName">
      {{ item.fullName }} and age {{ item.age }}
    </li>
  </ul>
  <br>
  Enter Name: <input type="text" v-model="searchName"><br>
  <button v-on:click="getStudentViaName()">Get stud</button>
  <input type=text v-model="searchName"><br>
  <label class="notFoundStudentStyle">Hellos</label>
  <div v-bind:class=" foundItem == true ?  'foundStudentStyle' : 'notFoundStudentStyle'">
 Found Student: {{student.fullName}}
  </div>
<br>
If statement example with radio button <br>
Male: <input name="gender" type="radio" v-model="genderValue" value="male">
Female: <input name="gender" type="radio" v-model="genderValue" value="female">
<br>
User is: 
<div v-if="genderValue == 'male'">
    {{genderValue}}
</div>
<div v-else>
    {{genderValue}}
</div><br>
Check box example <br>
Dog: <input type="checkbox" v-model="checkedValueDog" v-on:click=checkState()>
<br>
Cat: <input type="checkbox" v-model="checkedValueCat" v-on:click=checkState()>
</div>